* {box-sizing: border-box;
    Margin:0px;
    Padding: 0px;
    border: 1px;
    border-style: none;
    border-color: black;
}


/* FONTS */

.H1{
    font-size: 2.7rem;
    font-family: "martel sans", "montserrat";
    color: #22231B;
    font-weight: 600;
    line-height: 180%;

}

.H2{
    font-size: 1.25rem;
    font-family: "martel sans", "montserrat";
    color: #22231B;
    font-weight: 400;
    line-height: 180%;

}

.H3{
    font-size: 1.4rem;
    font-family: "martel sans", "montserrat";
    color: #964B1C;
    font-weight: 600;
    line-height: 300%;
}


.H4{
    font-size: 1.2rem;
    font-family: "martel sans", "montserrat";
    color: #964B1C;
    font-weight: 600;
    line-height: 200%;
}

.H5{
    font-size: 1.8rem;
    font-family: "martel sans", "montserrat";
    color: #964B1C;
    font-weight: 600;
    line-height: 250%;
}

.H6{
    font-size: 0.9rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 600;
    line-height: 150%;
}

.H7{
    font-size: 1.2rem;
    font-family: "martel sans", "montserrat";
    color: #964B1C;
    font-weight: 600;
    line-height: 210%;
}

.P1{
    font-size: 1.1rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 400;
    line-height: 210%;
}

.P2{
    font-size: 0.8rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 400;
    line-height: 210%;
}

.P3{
    font-size: 1.1rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 600;
    line-height: 250%;
}

.P4{
    font-size: 1.0 rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 600;
    line-height: 210%;
}

.P5{
    font-size: 1.0 rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 400;
    line-height: 210%;
}



/* STRUCTURE */

.body{
    background-color: #EBEBEB;
}

.content-container{
    width: 100%;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    height: auto;
    Display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    gap:70px;
    border-bottom: 0px;
    border-left:0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: black;
}

/* TITLE PAGE */

#title-page{
    background-color: #d8d8c4;
    height: 720px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    width: 100%;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
  
 
    
}

#title-page-text{
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
    gap:30px
    
    
}



#title-page-image-container{
    grid-column: 11/15;
    height: 100%;
    width:100%;
    background-color: #93986D;
    
    
}

#title-page-image{
    position:absolute;
    background-image: url(./images/DAFF.png);
    height: 500px;
    width: 500px;
    top:30%;
    right:2.5%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    rotate: 32deg;
    scale: 1.4;


}

#title-icons{
    display: flex;
    gap: 20px;


}

#miro{
    height:80px;
    width:80px;
    background-image: url(./images/miro-icon.png);
    background-position: center;
    background-size: contain;
}

#figma{
    height:80px;
    width:80px;
    background-image: url(./images/figma-icon.png);
    background-position: center;
    background-size: contain;
}

/* CASE STUDY CONTEXT*/

#the-goal{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 100px;
}

#the-goal-image{
    height: 500px;
    width: 400px;
    background-image: url(./images/The-goal-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: visible;
    position: absolute;
    right:30px;
    top:-30%;

}

#the-goal-text{
    height: auto;
    width: 50%;

}

/* USER CENTERED DESIGN */

#UCD-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#UCD-chart{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.chart-children{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.chart-icon{
    height: 120px;
    width: 120px;
    background-color: #B3B98B;
    border-radius: 50%;
    margin-bottom: 10px;
}

#icon-1{
    background-color: #B3B98B;
    background-image: url(./images/ICON\ 1.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

#icon-2{
    background-color: #CABF88;
    background-image: url(./images/ICON\ 2.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

#icon-3{
    background-color: #E0E6BC;
    background-image: url(./images/ICON\ 3.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

#icon-4{
    background-color: #B3B98B;
    background-image: url(./images/ICON\ 4.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

#icon-5{
    background-color: #CABF88;
    background-image: url(./images/ICON\ 5.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}


.chart-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}



/* USER RESEARCH - DOT POINTS */

#UL{
    list-style-type:lower-alpha;
    padding-left: 40px;
    font-size: 1.1rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 400;
    line-height: 210%;
}


/* USER TESTING */

#original-website-analysis{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 1500px;
}


#original-website-image{
    grid-column: 1/9;
    background-image: url(./images/Webpage-DAFF.png);
    background-size: contain;
    background-repeat: no-repeat;

}

#original-website-notes{
    grid-column: 9/13;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap:30px;
}





/* COMPETITOR ANALYSIS */


#competitor-analysis-chart{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: auto;
    padding: 40px;
    border-radius: 10px;
    border: 2px;
    border-style:dashed;
    border-color: black;
    gap:5px;

}

.Competitor-analysis-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 5px;

}

.column-cell{
    height: 100px;
    background-color: #D8DBC4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    
}




.cross{
    background-image: url(./images/Cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 50px;

}

.tick{
    background-image: url(./images/Tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 50px;

}

#government-department-1{
    background-image: url(./images/QLD-GOV-LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90px;
    width: 90px;

}

#government-department-2{
    background-image: url(./images/VIC-GOV-LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90px;
    width: 90px;

}

#government-department-3{
    background-image: url(./images/NSW-GOV-LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90px;
    width: 90px;

}

#government-department-4{
    background-image: url(./images/SA-GOV-LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90px;
    width: 90px;

}

#government-department-5{
    background-image: url(./images/TAS-GOV-LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90px;
    width: 90px;

}

#cell-0{
    background-color: white;
}

#cell-1{
    background-color: #E4E4E0;
}

#cell-2{
    background-color: #D8DBC4;
}

#cell-3{
    background-color: #E4DEC3;
}

#cell-4{
    background-color: #F3F5E2;
}

#cell-5{
    background-color: #D8DBC4;
}

#cell-6{
    background-color: #E4DEC3;
}

#competitor-analysis{
    gap:40px;
}



/* SUMMARY OF RESEARCH FINDINGS */

#research-summary-points{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 20px;
    
}

/* USER PERSONA */

#user-persona-image{
    Height:700px;
    width:100%;
    background-image: url(./images/User\ Persona.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
}

/* USER JOURNEY */

#user-journey-image{
    Height: 550px;;
    width:100%;
    background-image: url(./images/User\ journey\ map.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    
}

/* THE SOLUTION */

#OL{
    list-style-type:decimal;
    padding-left: 40px;
    font-size: 1.1rem;
    font-family: "martel sans", "montserrat";
    color: black;
    font-weight: 400;
    line-height: 210%;
}

#Solution-grid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
}

#the-solution-text{
    grid-column: 1/8;
    z-index: 1;
}

#The-Solution{
    gap:50px;
    position: relative;
}

#the-solution-image{
    height: 500px;;
    width: 500px;
    scale: 1.2;
    background-image: url(./images/The-solution-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: visible;
    position: absolute;
    right: 0px;
    top:275px;
    
}

/* IA */

.site-map-container{
    width: 100%;
    height:400px;
    padding: 40px;
    border-radius: 10px;
    border: 2px;
    border-style:dashed;
    border-color: black;

}

#site-map-header{
    height: 100%;
    width: 100%;
    background-image: url(./images/Site-Map-Header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}


#site-map-footer{
    height: 100%;
    width: 100%;
    background-image: url(./images/Site-Map-Footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

#IA{
    gap:50px;
}

/* RESPONSIVE DESIGN  */

.grid-example{
    width: 100%;
    height: 2000px;
    

}

#twelve-column-grid{
    height: 100%;
    width: 100%;
    background-image: url(./images/Grid-images.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;

}

/* HIGH FIDELITY   */

#high-fidelity-wireframes{
    padding-top: 50px;
    gap:50px;


}

#new-website-analysis{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;


}


#new-website-image{
    grid-column: 1/9;
    background-image: url(./images/HF\ DESKTOP.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 3000px;

}

#new-website-notes{
    grid-column: 9/13;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
}

#new-website-analysis-2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;


}


#new-website-image-2{
    grid-column: 1/6;
    background-image: url(./images/HF-IPAD.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 4000px;
    width: 100%;

}

#new-website-image-3{
    grid-column: 7/9;
    background-image: url(./images/HF-IPHONE.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 4000px;

}


/* LIMITATIONS AND FUTURE CONSIDERATIONS */

#limitations-grid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
}

#limitations-text{
    grid-column: 1/9;
    z-index: 1;
}

#limitations{
    gap:50px;
    position: relative;
    padding-bottom: 150px;
    

}

#limitations-image{
    height: 200px;
    width: 200px;
    scale: 2.0;
    background-image: url(./images/limitations-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: visible;
    position:absolute;
    top: 160px;
    right:80px
   
    
}

/* LOW FIDELITY */

#low-fidelity-wireframes{
    padding-top: 50px;
    gap:50px;
 

}


#Low-fidelity-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
    gap: 50px;


}


#low-fidelity-1{
    grid-column: 1/7;
    background-image: url(./images/Low-fidelity-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2000px;
    width: 100%;

}

#low-fidelity-2{
    grid-column: 7/13;
    background-image: url(./images/Low-Fidelity-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;

}

/* STYLE GUIDE */

#style-guide{
    padding-top: 50px;
    gap:50px;
 

}

.style-guide-example{
    width: 100%;
    height: fit-content;
    padding: 40px;
    border-radius: 10px;
    border: 2px;
    border-style:dashed;
    border-color: black;
    

}

#style-guide-image{
    height: 1500px;
    width: 100%;
    background-image: url(./images/Style\ Guide.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;

}