* {box-sizing: border-box;
    Margin:0px;
    Padding: 0px;
    border: 1px;
    border-style: none;
    border-color: black;
}



/* FONT STYLES */





.H1{
    display: flex;
    justify-content: center;
    font-family: "Insigna";
    color: black;
    font-weight:100;
    font-size:7rem;
    letter-spacing: 1.6rem;


}

.H2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Insigna Signature";
    color: #722B0C;
    font-weight:400;
    font-size:9rem;
    letter-spacing: 0.rem;
    line-height: 10px;

}

.H3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Insigna";
    color: black;
    font-weight:1;
    font-size:1.1rem;
    letter-spacing: .4rem;

}

.H4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Insigna";
    color: black;
    font-weight:1;
    font-size:2.5rem;
    letter-spacing: .4rem;
    line-height: 5rem;

}

.H5{
    font-family: "Insigna";
    color: black;
    font-weight:1;
    font-size:1.8rem;
    letter-spacing: .2rem;

}

.H6{
    font-family: "raleway";
    color: black;
    font-weight:500;
    font-size:1rem;


}

.H7{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Insigna";
    color: black;
    font-weight:1;
    font-size:3rem;
    letter-spacing: .4rem;
    line-height: 3rem;

}



.P1{
    font-family: "raleway";
    color: black;
    font-weight:400;
    font-size:1.2rem;
    line-height: 2.9rem;

}

.P2{
    font-family: "raleway";
    color: black;
    font-weight:400;
    font-size:1rem;
    line-height: 2.5rem;

}

#resume_text{
    color: #F7F8F4;
}



/* PAGE STRUCTURE */



#body{
    background-color: black;
    border: none;
}

#body-content{
    background-color: #F7F8F4;
    height: fit-content;
    width:100vw;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-top: 0px;
    border-bottom: 0px;
}

#navigation{
    height: 100px;
    width: 100%;
    Display: Grid;
    grid-template-columns: repeat(12, 1fr);
    border-top: 3px;
    border-bottom: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
}

#burger-menu{
    grid-column:1/2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#burger-menu-icon{
    height: 100%;
    width: 100%;
    background-image:url(./images/homepage_images/Star_Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#standard-menu{
    grid-column:8/13;
    border-right:0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 3px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: space-evenly;

}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: fit-content;
    position: relative;
}

.underline{
    width: 100%;
    height: 5px;
    background-image:url(./images/homepage_images/Work-underline.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 25px;
    display: none;


}

#contact_underline{
     background-image:url(./images/homepage_images/Contact_underline.svg);

}

#about_underline{
    background-image: url(./images/homepage_images/About_underline.svg);
}

#hero-header{
    width:100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#arrow{
    background-image:url(./images/homepage_images/Brushstroke_Arrow.svg);
    position: absolute;
    Height: 160px;
    width:270px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 320px;
    right: 110px;

}




#header-text{
    height: 200px;
    width: 100%;

 
}

#header-end{
    height: 100px;
    width: 100%;
    Display: Grid;
    grid-template-columns: repeat(12, 1fr);
    border-top: 3px;
    border-bottom: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
}

#UX-UI-designer{
    grid-column:1/6 ;
    display: flex;
    align-items: center;
    justify-content: center;

}

#Year{
    grid-column: 6/8;
    border-left: 3px;
    border-right: 3px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

#resume{
    grid-column: 8/13;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #722B0C;

}


#about-me-section{
    min-height: 650px;
    width: 100%;
    Display: Grid;
    grid-template-columns: repeat(12, 1fr);
  
}

#about-me-content{
    grid-column:6/13 ;
    border-right: 0px;
    border-left: 3px;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    padding: 15%;
    height: 100%;
  
    


}

#case-study-title{
    height: 100px;
    width: 100%;
    border-top: 3px;
    border-bottom: 3px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#case-studies{
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.case-study-container{
    min-height: 475px;
    border: 3px;
    width: 100%;
    border-color: black;
    border-style: solid;
    display: Grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: hidden;

}


#case-study-text-1 {
    grid-column: 1/7;
    height: 100%;
    padding: none;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px;
    border-style: solid;
    border-color: black;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    

}

#case-study-image-1 {
    grid-column: 7/11;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#image-1{
    background-image:url(./images/homepage_images/CPS_Image.svg);
    position: absolute;
    Height: 100%;
    width:100%;
    left: -80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scale: 1.5;

}

#case-study-image-2 {
    grid-column: 1/5;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#image-2{
    background-image:url(./images/homepage_images/DAF_Image.svg);
    position: absolute;
    Height: 100%;
    width:100%;
    left: -70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scale: 1.5;

}

#case-study-text-2 {
    grid-column: 5/11;
    height: 100%;
    padding: none;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 3px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

#image-3{
    background-image:url(./images/homepage_images/TARS_Image.svg);
    position: absolute;
    Height: 100%;
    width:100%;
    left: -70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scale: 1.5;

}

.case-study-btn{
    border: 2px;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: fit-content;


}

#footer{
    min-height: 460px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;

}

#footer-rhs{
    grid-column:  5/13;
    border-left: 3px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;

}

#footer-lhs{
    grid-column:  1/5;
    height: 22%;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;

}

.link{
    display: flex;
    align-items: center;
    gap: 15px;
}


.link-image{
    height: 36px;
    width: 36px;
    background-image:url(./images/homepage_images/Star_Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link-text{
    font-family: "raleway";
    color: black;
    font-weight:400;
    font-size:1.2rem;
}


#modal-menu{
    position: fixed;
    background-color: #F7F8F4;
    height: 100vh;
    width:100vw;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    opacity: 1;
    z-index: 1;


}

#modal-menu.active {
    display: flex;
}


.modal-menu-links{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    height: auto;
    font-family: "raleway";
    color: black;
    font-weight:500;
    font-size:1.5rem;
    border-radius: 0px;
    border: 2px solid #161616;
}


.modal-menu-links:hover{
    background-color: black;
    color: #F7F8F4;
}




/* HOVER STATES  */


#resume:hover{
    background-color: #551B02;
}


.case-study-btn:hover{
   background-color: black;

}

.case-study-btn:hover .H6{
   color: white;

}


.menu-item:hover .underline{
    display: unset;

}

