* {box-sizing: border-box;
    Margin:0px;
    Padding: 0px;
    border: 1px;
    border-style: none;
    border-color: black;
}



/* FONT STYLES */

.H1{
    font-size: 8rem;
    font-family: "cormorant";
    display:flex;
    align-items: center;
    justify-content: center;
    color: #5E221A;
    font-weight: 600;
}


.H2{
    font-family: "montserrat";
    color: #D6674C;
    font-weight: 600;
}


.H3{
    font-family: "montserrat";
    color: #5E221A;
    font-weight:400;
    font-size:1.15rem;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}


#uxui{
    font-weight: 500;
    width: auto;
}

#resume{
    font-weight: 700;
}




/* PAGE STRUCTURE */



.body{
    background-color: white;
}

.header{
    background-color: #f6f6f6;
    Display: Grid;
    grid-template-columns: repeat(12, 1fr);
    width:100vw;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow:hidden;
}


/* NAV BAR */

.nav{
    Grid-column: 7/13;
    background-color: none;
    height:120px;
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding-right: 30px;
    z-index: 1;

}


.nav-item{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
   

}




/* PRIMARY HEADER CONTENT */

.header-content{
    height:475px;
    background-color: none;
    Grid-column: 1/13;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}


#year{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#name{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* SECONDARY HEADER CONTENT */

.header-end{
    height:120px;
    background-color:none;
    Grid-column: 1/13;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 60px;
    z-index: 1;

}

/* IMAGES */



#pink-blob{
    background-image:url(./images/Pink\ Blob.png);
    position: absolute;
    Height: 500px;
    width:500px;
    background-size: cover;
    top: -160px;
    left: -180px;

}


#yellow-blob{
    background-image:url(./images/Yellow\ Blob.png);
    position: absolute;
    Height: 550px;
    width:550px;
    background-size: cover;
    bottom: -220px;
    right: -230px;

}



#brown-leaf{
    background-image:url(./images/Brown\ Leaf.png);
    position: absolute;
    Height: 500px;
    width:500px;
    background-size: cover;
    bottom: -190px;
    left: -50px;

}

#arrow{
    background-image:url(./images/Arrow.png);
    position: absolute;
    Height: 200px;
    width: 200px;
    background-size: 150px;
    top: 13%;
    right: 6.5%;
    background-repeat: no-repeat;
    background-position: top;

}



/* ABOUT ME SECTION */

.about-me{
    background-color: white;
    Display: flex;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    height: fit-content;
    width: 100vw;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    border-right: 10px;
    border-left: 10px;
    border-style: solid;
    border-color: #f6f6f6;
    


}

#about-me-content{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}

#about-me-image{
    height:100%;
    min-height: 450px;
    width:50%;
    background-image: url(./images/Placeholder\ Image.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

}



#about-me-text{
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:10px;

}



.H4{
    font-size: 2.2rem;
    font-family: "dancing script";
    color: #D6674C;
    font-weight: 400;
}


.H5{
    font-size: 3.3rem;
    font-family: "cormorant";
    color: #5E221A;
    font-weight: 500;
}

.P1{
    font-size: 1.2rem;
    font-family: "montserrat";
    color: #2F0B06;
    font-weight: 400;
    line-height: 190%;
}

.line{
    border-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width:30%;
    border-style: solid;
    border-color: #D6674C;
    height:30px;

}


/* PAGE GAP */

.gap{
    width:100%;
    height:50px;
    background-color: #f6f6f6;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
}

/* MY WORK SECTION */

.my-work{
    background-color: white;
    Display: Grid;
    grid-template-columns: repeat(12, 1fr);
    width:100vw;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    border-right: 10px;
    border-left: 10px;
    border-style: solid;
    border-color: #f6f6f6;

   
}


#my-work-title{
    Grid-column: 1/13;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding: 30px;
    padding-bottom: 50px;

}

#case-study-line{
    width:10%;
    height: 20px;
}


.case-study{
    Grid-column: 1/13;
    height: fit-content;
    Display: Grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 50px;
    padding-bottom: 50px;
    position:relative;
}


    


.case-study-text{
    grid-column: 2/8;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    gap:15px;
    padding-bottom: 40px;
    padding-right: 40px;


}


.H6 {
    font-size: 1.0rem;
    font-family: "montserrat";
    color: #2F0B06;
    font-weight: 400;
}

.H7 {
    font-size: 2rem;
    font-family: "cormorant";
    color: #2F0B06;
    font-weight: 600;
}

.P2{
    font-size: 1.1rem;
    font-family: "montserrat";
    color: #2F0B06;
    font-weight: 400;
    line-height: 250%;
}


.button{
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 40px;
    padding-left: 40px;
    height:fit-content;
    border: 1px;
    border-style: solid;
    border-color: #2F0B06;
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: "montserrat";
    color: #2F0B06;
    font-weight: 450;
    line-height: 200%;


}




.case-study-image{
    grid-column: 8/12;
    background-image: url(./images/Placeholder\ Image.png);
    background-size: 90%;
    background-position: right;
    background-repeat: no-repeat ;

    

}


#case-study-3{
    padding-bottom: 100px;
}



/* CONTACT ME */

.contact-me{
    width: 100vw;
    max-width:1245px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
    height: 450px;
    border-right: 10px;
    border-left: 10px;
    border-style: solid;
    border-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.H8 {
    font-size: 2.2rem;
    font-family: "cormorant";
    color: #5E221A;
    font-weight: 600;

}

#contact-me-quote{
    width:45%;
    text-align: center;
}


.P3{
    font-size: 1.rem;
    font-family: "montserrat";
    color: #2F0B06;
    font-weight: 400;
    line-height: 175%;
}

#contact-me-icons{
    display: flex;
    gap: 40px;
}

.icon{
    height: 80px;
    width: 80px;
    background-image: url(./images/Mail-Icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat ;

}


/* PSEUDO CLASSES */

.H3:hover{
    font-family: "montserrat";
    color: #5E221A;
    font-weight:600;
    font-size:1.15rem;
}

#resume:hover{
    font-size:1.2rem;
}



.button:hover{
    background-color: #2F0B06;
    color: white;
    

}

